#menu {
    background: #201c2d;
    width: 240px;   
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
}

a {
    color: #AEA4BF;
    text-decoration: none;
}

a:visited {
    color: #8F6593;
}


#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 0.5px solid #41395c;
}
#menu a {
    color: #ffffff;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    padding: 0.6em 0 0.6em 0.6em;
    text-align: center;   
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.15em;
    list-style: none;
    text-transform: uppercase;
}
#menu .pure-menu li{
    border-top: 0.5px solid #41395c;
    border-bottom: 0.5px solid #41395c;
}



#menu a:hover {
    background: #41395c;
    color: #ffffff;
    text-decoration: none;
}


#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    background: #201c2d;
}

#menu a:hover{
    color: #525e8b;
}
.small-print {
    position: absolute;
    bottom: 0;
    color: #41395c;
    font-size: 0.8em;
    margin: em;
    }


#menu > div:nth-child(3) > div:nth-child(2) > small > a {
    border-top: 0cqb;
    color: #6b6383;
    font-size: 0.8em;
    margin: em;
}