@import url('https://stella-project.org/website_v3/css/side-menu.css');
@import url('https://stella-project.org/website_v3/css/blackburn.css');

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0 auto;
    font-size: 3em;
    font-weight: 300;
    color: #333;
    font-weight: bold;
    max-width: 800px;
    padding: 0 2em;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    color: #333;
    font-weight: bold;
    max-width: 800px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}


#layout {
    position: relative;
    left: 0;
    padding-left: 300px;
}

#menu {
    background: #201c2d;
    width: 240px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 300px;
}

.post-image {
    justify-content: center;
    display: flex;
}


a {
    color: #265778;
    text-decoration: none;

}

.home-button a {
    color: white;
}

.section-button {
    background-color: #6584a5;
    color: #fff;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
}

.section-button:hover {
    background-color: #b1bbc7;
    text-decoration: none;
    border: 2px solid #6584a5;
}

.box-container {
    display: flex;
}

.additional-box {
    flex: 1;
    border: 2px solid #abadaf;
    padding: 16px;
    width: 300px;
    margin-bottom: 20px;
    background-color: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 0.5px solid #41395c;
}

#menu a {
    color: #ffffff;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    padding: 0.6em 0 0.6em 0.6em;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.15em;
    list-style: none;
    text-transform: uppercase;
}

#menu .pure-menu li {
    border-top: 0.5px solid #41395c;
    border-bottom: 0.5px solid #41395c;
}


#menu a:hover {
    background: #41395c;
    color: #ffffff;
    text-decoration: none;
    color: #525e8b;
}


#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #201c2d;
}


.small-print {
    position: absolute;
    bottom: 0;
    color: #41395c;
    font-size: 0.8em;
    margin: em;
    text-align: center;
    padding: 0.6em 0 0.6em 0.6em;
}


.small-print:nth-of-type(2)::before {
    content: "© STELLA. ALL RIGHT RESERVED.";
    color: #6b6383;
    font-size: 80%;
    text-align: center;
    display: block;
    padding: 0.6em 0 0.6em 0.6em;
}

#menu>div:nth-child(3)>div:nth-child(2)>small>a {
    border-top: 0cqb;
    color: #6b6383;
    font-size: 0.8em;
    margin: em;
}

#menu::before {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: url("../images/stella-logo.png") center/cover;
    content: "";
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

#menu::after {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    z-index: 1;
    content: "STELLA";
}


.float-right {
    float: right;
    width: 200px;
}

p {
    text-align: justify;
}

i {
    display: inline;
}